<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @opegroup.name %>
</p>

<p>
  <b>Description:</b>
  <%= @opegroup.description %>
</p>

<%= render :partial => "shared/events", :locals => { :events => @interventions } %>

<%= link_to 'Edit', edit_opegroup_path(@opegroup) %> |
<%= link_to 'Back', opegroups_path %>
