<table class="operations">
  <tr>
    <th>Projet</th>
    <th>Action</th>
    <th>Description</th>
    <th>Cible</th>
    <th>Status</th>
    <th>Notes</th>
    <th></th>
    <th></th>
  </tr>
<% currdate = "" %>
<% events.each do |event| %>
  <!-- % if currdate != event.date_used.to_pretty %-->	
  <% if currdate != time_ago_in_words(event.date_used) %>	
     <% currdate = time_ago_in_words(event.date_used) %>
  	 <tr>
       <td style="background-color: #ffee55"><%= link_to event.date_used.to_date, "/calendar/#{event.date_used.year}/#{event.date_used.month}" %></td>
       <td style="background-color: #ffee55" colspan="7"><%= h(currdate) %></td>
     </tr>
   <% end %>
  <tr>     	
   <td><%= link_to event.operation.opegroup.description, event.operation.opegroup %></td>
   <td><%= link_to event.operation.description, event.operation %></td>
   <td><%= eval("link_to event.description, "+event.eventable.class.to_s.downcase+"_event_path(event.eventable,event)") %></td>	
   <td><%= link_to event.branch_indirect.entity.name, event.branch_indirect.entity %>:<%= link_to event.branch_indirect.name, event.branch_indirect %>&nbsp;<%= event.date_used.to_date %></td>
<% if event.cancelled.nil? %>
  <% if event.done.nil? %>
    <td><img alt="planned" src="/images/flag-yellow.png" />planifiée</td>
  <% else %>
    <td><img alt="done" src="/images/flag-green.png" />Réalisée</td>
  <% end %>
<% else %>
    <td><img alt="cancelled" src="/images/flag-red.png" />Annulée</td>
<% end %>
    
    <td><%= event.status %></td>
<% if event.eventable_type == "Instance" %>    
    <td><%= link_to 'Edit', edit_instance_event_path(event.eventable, event) %></td>
<% else %>
  <% if event.eventable_type == "Server" %>
    <td><%= link_to 'Edit', edit_server_event_path(event.eventable, event) %></td>
  <% else 
   # on est sur Branch / Agence %>
    <td><%= link_to 'Edit', edit_branch_event_path(event.eventable,event) %></td>
  <% end %>
<% end %>    
  </tr>
<% end %>
</table>
