<table summary="Etats des planifications, installations & migrations" border="0" cellspacing="0" cellpadding="0">
<caption><span class="ss_sprite ss_computer_go">Planification</span>, <span class="ss_sprite ss_computer_add">Installation</span> & <span class="ss_sprite ss_computer">Migration des serveurs</span></caption>
	<thead>
	    <th class="span-3">Projet</th>
	    <th class="span-3">Action</th>
	    <th class="span-5">Description</th>
	    <th class="span-3">Cible</th>
	    <th class="span-2">Status</th>
	    <th class="span-6">Notes</th>
	    <th class="span-2 last"></th>
	    <th></th>
	</thead>	
<!-- tbody -->
<% currdate = "" %>
<% events.each do |event| %>
  <!-- % if currdate != event.date_used.to_pretty %-->	
  <% if currdate != event.date_used.to_date.to_pretty %>
  <% if currdate != "" %>
  	 </tbody>  
  <% end %>	
     <% currdate = event.date_used.to_date.to_pretty %>
  	 <tbody>
  	 <tr class="notice">
       <td><span class="ss_sprite ss_date">Planification</span>&nbsp;
       	   <%= link_to event.date_used.to_date, "/calendar/#{event.date_used.year}/#{event.date_used.month}" %></td>
       <td colspan="7"><%= h(currdate) %></td>
     </tr>
   <% end %>
  <tr>     	
   <td><%= link_to event.operation.opegroup.name, event.operation.opegroup %><br/><span class="small"><%= event.operation.opegroup.description %></span></td>
   <td><%= link_to event.operation.name, event.operation %><br/><span class="small"><%= event.operation.description %></span></td>
   <td><%= eval("link_to event.description, "+event.eventable.class.to_s.downcase+"_event_path(event.eventable,event)") %></td>	
   <td><%= link_to event.branch_indirect.entity.name, event.branch_indirect.entity %><br/><%= link_to event.branch_indirect.name, event.branch_indirect %></td>
<% if event.cancelled.nil? %>
  <% if event.done.nil? %>
    <td><img alt="planned" src="/images/flag-yellow.png" />planifiée<br/><span class="small"><%= event.date_used.to_date %></span></td>
  <% else %>
    <td><img alt="done" src="/images/flag-green.png" />Réalisée<br/><span class="small"><%= event.date_used.to_date %></span></td>
  <% end %>
<% else %>
    <td><img alt="cancelled" src="/images/flag-red.png" />Annulée<br/><span class="small"><%= event.date_used.to_date %></span></td>
<% end %>
    <td class="small"><%= event.status %></td>
<% if event.eventable_type == "Instance" %>    
    <td><%= link_to sprite('database_edit')+"modif.", edit_instance_event_path(event.eventable, event) %></td>
<% else %>
  <% if event.eventable_type == "Server" %>
    <td><%= link_to sprite('computer_edit')+"modif.", edit_server_event_path(event.eventable, event) %></td>
  <% else 
   # on est sur Branch / Agence %>
    <td><%= link_to sprite('image_edit')+"modif.", edit_branch_event_path(event.eventable,event) %></td>
  <% end %>
<% end %>    
  </tr>
<% end %>
</tbody>	
</table>
