<ul title="Suivi opérations" selected="true">
  <li class="group">Menu principal</li>
  <li><%= link_to 'Agences', branches_path %></li>
  <li><%= link_to 'Serveurs', servers_path %></li>
  <li><%= link_to 'Instances', instances_path %></li>
  <li class="group">Autres actions</li>
  <li><%= link_to 'Agenda', calendar_path %></li>
  <li><%= link_to 'Entités', entities_path %></li>
  <li><%= link_to 'Accueil', root_path %></li>
</ul>  