<h1>Listing operations</h1>

<table>
  <tr>
    <th>Nom</th>
    <th>Nom court</th>
    <th>Description & couleur</th>
    <th>Groupe d'opérations</th>
    <th></th>
    <th></th>
  </tr>

<% @operations.each do |operation| %>
  <tr>
    <td><%= link_to operation.name, operation %></td>
    <td style="background-color: <%= operation.cal_color %>"><%= operation.short_name %></td>
    <td><%= operation.description %></td>
    <td><%= operation.opegroup.description %></td>
    <td><%= link_to 'Edit', edit_operation_path(operation) %></td>
    <td><%= link_to 'Destroy', operation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Operation', new_operation_path %>
